{% extends 'MilioooFriendsBundle::layout.html.twig' %}

{% block miliooo_friends_content %}

    <ul id="friendsTab" class="nav nav-tabs">
        <li class="active"><a href="#friends" data-toggle="tab">{% trans from 'MilioooFriendsBundle' %}navigate.friends{% endtrans %}</a></li>
        <li><a href="#following" data-toggle="tab">{% trans from 'MilioooFriendsBundle' %}navigate.following{% endtrans %}</a></li>
        <li><a href="#followers" data-toggle="tab">{% trans from 'MilioooFriendsBundle' %}navigate.followers{% endtrans %}</a></li>

    </ul>
    <div id="friendsTabContent" class="tab-content">
        <div class="tab-pane active fade in" id="friends">
            <ul>
                {% for user in userRelationships.friends %}
                    {% set formAction %}{{ url('miliooo_friends_delete', {'userRelationshipId': user.getUserRelationshipId}) }}{% endset %}
                    {% set submitValue %}{% trans from 'MilioooFriendsBundle' %}action.unfollow{% endtrans %}{% endset %}
                    <li> {{ user.getUserRelationshipId }}
                    <form action="{{ formAction }}" method="post">
                        <input type="submit" value="{{ submitValue }}"/>
                    </form>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="following">
            <ul>
                {% for user in userRelationships.following %}

                    {% set formAction %}{{ url('miliooo_friends_delete', {'userRelationshipId': user.getUserRelationshipId}) }}{% endset %}
                    {% set submitValue %}{% trans from 'MilioooFriendsBundle' %}action.unfollow{% endtrans %}{% endset %}
                    <li> {{ user.getUserRelationshipId }}
                    <form action="{{ formAction }}" method="post">
                        <input type="submit" value="{{ submitValue }}"/>
                    </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="followers">
            <ul>
                {% for user in userRelationships.followers %}
                    {% if(miliooo_friends_is_following(user)) %}
                        {% set formAction %}{{ url('miliooo_friends_delete', {'userRelationshipId': user.getUserRelationshipId}) }}{% endset %}
                        {% set submitValue %}{% trans from 'MilioooFriendsBundle' %}action.unfollow{% endtrans %}{% endset %}
                    {% else %}
                        {% set formAction %}{{ url('miliooo_friends_add', {'userRelationshipId': user.getUserRelationshipId}) }}{% endset %}
                        {% set submitValue %}{% trans from 'MilioooFriendsBundle' %}action.follow{% endtrans %}{% endset %}
                    {% endif %}
                    <li> {{ user.getUserRelationshipId }}
                    <form action="{{ formAction }}" method="post">
                        <input type="submit" value="{{ submitValue }}"/>
                    </form>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <script>
        $('#friendsTab').on('click', 'a', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>

{% endblock %}
